.custom-table {
    border: 1px solid #ddd;
    margin: 5px;
    padding: 20px;
    overflow-x: auto;
   
  }
  
  .custom-table .ant-table-thead > tr > th {
    background-color: #f0f0f0;
    font-weight: bold;
    font-size: medium;
    position:flex;
  }
  
  .custom-table .ant-table-tbody > tr > td {
    color: #333;
    position:flex;
  }
  